<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <header>Observation System</header>
  <body>
    <h1><%= title %>:</h1>
      <div>
          <button onclick="window.location.href='newurls';" class = "ideabutton"> COVID-19</button>
          <button class = "ideabutton"> Airport Security</button>
          <button class = "ideabutton"> Hospital Procedures</button>
          <button class = "ideabutton"> Transportation Infrastructure</button>

      </div>
  </body>
</html>
