<!DOCTYPE html>
<html>
  <head>
    <title>Domains</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel='stylesheet' href='/stylesheets/style.css' />
  <header>Observation System</header>
  <body>
    <h1>Innovation Targets</h1>
    <form id="formAddDomain" name="adddomain" method="post" action="/adddomain">
      <input id="inputDomain" style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();" type="text" placeholder="Innovation Target" name="domain" required/>
      <button class = "urlpage" id="btnSubmit" type="submit">Submit</button>
      <p id = "submitteddomain" class = "inlineblock submitted">Received &#10004;</p>
      <br>
      <br>
    </form>
    <div class = "center">
    <form onsubmit="return confirm('Are you sure you want to remove all domains?');" class = "inlineblock" method = "post" action= "/removequeries">
      <button class = "inlineblock removeall">Remove all Targets</button>
    </form>
    <button onclick="window.location.href='/edit';" class = "inlineblock editall">Edit Targets</button>
  </div>
      <div class = "paddingbottom">
            <% for (var i = 0; i < targets.length; i++) { %>
              <div class = "center">
                <button onclick="window.location.href='domains/<%=targets[i].domain%>';" class = "inlineblock ideabutton"><%=targets[i].domain%></button>
                <!--<form onsubmit="return confirm('Are you sure you want to remove the <%=targets[i].domain%> domain?');" class = "inlineblock" method = "post" action= "/removequery">
                  <button class = "inlineblock delete">&#10008;</button> <input class = "hide" type = "text" value = '<%=targets[i].domain%>' name = "domain"/>
                </form>-->
              </div>
              
            <% } %>
                

      </div>
      <script>
        $('#submitteddomain').hide();
        const urlParams = new URLSearchParams(window.location.search);
        const myParam = urlParams.get('re');
        if(myParam == "Duplicate_Domain") {
          alert("You already added that Innovation Target!");
        }
        if(myParam== "Domain_Received"){
          $('#submitteddomain').show();
        }
      </script>
  </body>
</html>
