<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <header>Observation System</header>
  <body>
    <button onclick="window.location.href='domains';" class = "login">Login</button>
  </body>
</html>
