<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel='stylesheet' href='/stylesheets/style.css' />
  <header>Observation System</header>
  <body onload = "sendLoginHash()">
    <h1>Welcome</h1>
  </body>
  <script>
    function sendLoginHash() {
      var login_hash = window.location.hash;
      if(login_hash){
        var xhr = new window.XMLHttpRequest();
        xhr.open('POST', '/', true);
        xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
        xhr.onreadystatechange = function () {
          if(xhr.readyState === XMLHttpRequest.DONE){
            var status = xhr.status;
            if(status === 0 || (status >= 200 && status < 400)){
              window.location.replace("/domains");
            }else{
              console.log('request failed my brother' + status);
            }
          }
        };
        xhr.send(JSON.stringify(parseQueryString(login_hash.split('#')[1])));
      }
    }
    function parseQueryString(query) {
      var parsed = {};
      query.replace(
        new RegExp('([^?=&]+)(=([^&]*))?', 'g'),
          function ($0, $1, $2, $3) {
            parsed[decodeURIComponent($1)] = decodeURIComponent($3);
          }
      );
      return parsed;
    };
  </script>
</html>
