html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #F6f6f6;
}
header{
  background-color: rgb(16, 16, 153);
  color: white;
  text-align: center;
  margin-bottom: 15px;
  padding: 8px 0;
  font-size: 20px;
  z-index: 100;
}
a{
  cursor: pointer;
}
.clusterheader:hover{
  color: #00B7FF;
  cursor: pointer;
}
.tiptext {
  color:#069; 
  cursor:pointer;
}
.description {
  display:none;
  position:absolute;
  border:1px solid #000;
  width:400px;
  height:400px;
  z-index: 100;
}
button{
  background-color: white;
  border-color: white;
  cursor: pointer;
  outline: none !important;
}
input{
  font-size: 20px;
}
.urlpage{
  font-size: 20px;
}
h1{
  text-align: center;
  font-size: 40px;
  margin-bottom: 25px;
}
#urls{
  display: none;
}
.assets{
  font-size: 23px;
  margin-left: 15px;
}
.addcluster{
  position: absolute;
  right: 100px;
  top: 125px;
  border-radius: 50%;
  border: none;
  background-color: rgb(41, 41, 206);
  height: 75px;
  width: 75px;
  color :white;
  font-size: 17px;
}
#formAddCluster{
  height:100%;
  width:0;
  position: fixed;
  z-index: 100;
  top:0;
  left:0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,.8);
  overflow-x: hidden;
}
.form{
    position: absolute;
    top: 35%;
    left: 35%;
    background-color: white;
    height: 250px;
    width: 500px; 
    border-radius: 25px;
}
.form h2{
  margin-top: 20px;
}
.fa-plus, .fa-times{
  font-size: 35px;
  margin-bottom: none;
}
.addcluster:hover{
  color: white;
  background-color: rgb(16, 16, 153);
}
h2{
  text-align: center;
  margin-bottom: 25px;
}
.specialh2{
  margin-bottom: 0px !important;
  margin-top: 20px;
}
h3{
  text-align: center;
  color: rgb(124, 120, 120);
  margin-bottom: 20px;
}
.centerbody{
  text-align: center;
}
ul{
  list-style-type: none;
}
form{
  text-align: center;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.centertext{
  text-align: center;
}

.login{
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  background-color: white;
  color: black;
  border-color: white;
  margin-top: 50px !important;
  width: 150px;
}

.login:hover, .urlpage:hover{
  color: white;
  background-color: black;
}
.hide{
  display: none;
}
.removeall{
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 22px;
  color: red;
  background-color: #F6f6f6;
  border-color: red;
  padding: 5px;
  border-radius: 5px;
}
.removeall:hover{
  background-color: red;
  color: white;
}

.editall{
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 22px;
  color: rgb(223, 136, 5);
  background-color: #F6f6f6;
  border-color: rgb(223, 136, 5);
  padding: 5px;
  border-radius: 5px;
}
.editall:hover{
  background-color: rgb(223, 136, 5);
  color: white;
}

.delete, .deleteneed{
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 23px;
  background-color: #F6F6F6;
  color: rgb(218, 40, 40);
  border: none;
}
.edit{
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 23px;
  background-color: #F6F6F6;
  color: rgb(223, 136, 5);
  border: none;
}
.remove{
  font-size: 17px;
  color: rgb(218, 40, 40);
  background-color: #f6f6f6;
  border: none;
}
.remove:hover{
  color: black;
}
.submitted{
  margin-left: 15px;
  font-size: 20px;
  color: rgb(15, 131, 15);
}
.smaller{
  font-size: 14px;
}
.smaller:hover{
  font-size: 18px !important;
}
.delete:hover{
  font-size: 32px;
  color: rgb(241, 14, 14);
}
.deleteneed:hover{
  color: black;
}
.center{
  text-align: center;
}
.ideabutton{
  cursor: pointer;
  min-width: 400px;
  height: 65px;
  text-align: left;
  font-size: 28px;
  background-color: rgb(16, 16, 153);
  border: 2px solid rgb(16, 16, 153);
  border-radius: 35px;
  color: white;
  text-align: center;
  margin-top: 50px !important;
  padding: 0 20px
}
.ideabutton:hover, .clusterbutton:hover{
  color: rgb(16, 16, 153);
  background-color: #f6f6f6;
  transition-duration: .3s;
}
.clusterbutton{
  cursor: pointer;
  min-width: 250px;
  height: 65px;
  text-align: left;
  font-size: 28px;
  background-color: rgb(16, 16, 153);
  border: 2px solid rgb(16, 16, 153);
  border-radius: 35px;
  color: white;
  text-align: center;
  margin-top: 50px !important;
  padding: 0 20px
}
.needsbutton, .needbutton{
  cursor: pointer;
  min-height: 65px;
  width: 300px;
  font-size: 24px;
  margin: 45px 0px 45px 25px;
}
.needsbutton:hover{
  color: white;
  background-color: rgb(16, 16, 153);;

}
.needsbutton:hover span {
  display:none
}
.needsbutton:hover:before {
  content:"Brainstorm Concepts"
}
.paddingbottom{
  padding-bottom: 55px;
}
.backbutton{
  cursor: pointer;
  display: block;
  border: none;
  background-color: #F6f6f6;
  color: rgb(129, 97, 97);
  font-size: 22px;
  margin-left: 45px;
}

.backbutton:hover{
  color:black;
}

.inlineblock{
  display: inline-block;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrolling-wrapper::-webkit-scrollbar{
  display:none;
}

.white{
  background-color: white;
  width: 170px;
  height: 250px;
  margin-left: 25px;
  margin-right: 25px;
  display: inline-block;
  border-radius: 10px;
  margin-bottom: 35px;
}
.white img{
  height: 200px;
  width: 170px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.extra{
  margin-left: 50px !important;
}

#inputNeed{
  width: 500px;
}

.marginleft{
  margin-left: 400px;
  margin-top: 25px;
  margin-bottom: 15px;
}

.solution{
  font-size: 23px;
}
.solutionimage{
  max-height: 300px;
}

.urlinput{
  text-align: center;
  width: 300px;
}

.conceptinput{
  text-align: center;
  width: 550px;
  height: 40px;
}

.or{
  font-weight: 600;
  font-size: 55px;
  padding:0 10px;
}

.bigger{
  font-size: 25px;
}

.wordcloud{
  width: 1000px;
}